/*===================
 ** Variables Sass **
====================*/
/* Tailles d'écrans en variables Sass 
-----------------------------------------------------*/
$Fullscreen: 1080px;
$Medium: 700px;
$Small: 400px;

